<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<title>登录</title>
<style type="text/css" media="screen">
	*					{ margin: 0; padding: 0; }
	body				{ font-family: Georgia, serif; background: url(/images/login-page-bg.jpg) top center no-repeat #c4c4c4; color: #3a3a3a;  }

	.clear				{ clear: both; }

	form				{ width: 406px; margin: 170px auto 0; }

	legend				{ display: none; }

	fieldset			{ border: 0; }

	label				{ width: 115px; text-align: right; float: left; margin: 0 10px 0 0; padding: 9px 0 0 0; font-size: 16px; }

	input				{ width: 220px; display: block; padding: 4px; margin: 0 0 10px 0; font-size: 18px;
						  color: #3a3a3a; font-family: Georgia, serif;}
	input[type=checkbox]{ width: 20px; margin: 0; display: inline-block; }

	.button				{ background: url(/images/button-bg.png) repeat-x top center; border: 1px solid #999;
						  -moz-border-radius: 5px; padding: 5px; color: black; font-weight: bold;
						  -webkit-border-radius: 5px; font-size: 13px;  width: 70px; }
	.button:hover		{ background: white; color: black; }
</style>
</head>

<body>

<% form_tag session_path do -%>
		<fieldset>
			<legend>Log in</legend>
			<label for="login">Name</label>
			<%= text_field_tag 'login', @login %>
			<div class="clear"></div>
			
			<label for="password">Password</label>
			<%= password_field_tag 'password', nil %>
			<div class="clear"></div>
			
			<label for="remember_me" style="padding: 0;">Remember me?</label>
			<%= check_box_tag 'remember_me', '1', @remember_me ,:style=>"position: relative; top: 3px; margin: 0; "%>
			<div class="clear"></div>
			
			<br />
			<%= submit_tag 'Log in' ,:style=>"margin: -20px 0 0 287px;",:class=>"button"%>
					<% if flash[:error]  %> <span style="padding:5px:text-align:center;color:red"><%= flash[:error] %> </span><% end  %>
		</fieldset>
<% end -%>

</body>

</html>