<table>
	<thead>
	<tr><td width="50%">[<%= link_to '+',new_topic_path %>]</td><td>作者</td><td>时间</td></tr>
	</thead>
	<tbody>
<% @topics.each do |t| %>
	<tr>
    <td><%= link_to t.title,t %></td>
		<td><%= t.author.name %></td>
    <td><%= t.created_at.strftime("%Y/%m/%d") %> <br /> <%=t.created_at.strftime("%I:%M%p") %></td>
	</tr>
<% end %>
	</tbody>
</table>