<h1>New log</h1>

<% form_for(@log) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.label :change %><br />
    <%= f.text_field :change %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', logs_path %>