<p>
  <b>Project:</b>
  <%=h @log.project_id %>
</p>

<p>
  <b>Change:</b>
  <%=h @log.change %>
</p>

<p>
  <b>Body:</b>
  <%=h @log.body %>
</p>


<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>